
.navbar{
    color: #333333;
    text-decoration: none;
    font: 16px SourceSansPro;
    padding: 2px 16px;
}
.loginsection{
    text-decoration: none;
    color: #2C4152;
    font: 15px SourceSansPro;
    margin: 5px 5px;
}
